/* at the very least you must set these two display properties */
/* this is so you can use CSS animations when toggling results */


/* visual styles */
.searchwp-live-search-results {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:1em;
	background:#fff;
	-webkit-box-shadow:0 0 2px 0 rgba(30,30,30,0.4);
	box-shadow:0 0 2px 0 rgba(30,30,30,0.4);
	border-radius:3px;
	width:315px;
	min-height:175px;
}


